-e git+https://github.com/Ruairi-osul/ephys_queries.git@2fed1a9d133747fa63ad473edf6640cf9b57f535#egg=ephys_queries
-e git+https://github.com/Ruairi-osul/spiketimes.git@5d29135537cc9cbe9cb93765f80b965574b9b252#egg=siketimes
python-dotenv>=0.10.3
jupyter>=1.0.0
pyarrow>=0.15.1